.header {
    
    position: relative;

    &__container {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%)
    }

    &__title {
        color: $mainBlue;
        font-size: 1rem;

        @mixin atSmall {
            font-size: 1.8rem;
        }

        @mixin atMedium {
            font-size: 3rem;
        }
    }

    &__subtitle {
        color: $mainBlue;
        font-size: .8rem;

        @mixin atSmall {
            font-size: 1rem;
        }

        @mixin atMedium {
            font-size: 2.3rem;
        }
    }
}